---

---
<footer class="container py-4 text-center flex flex-col gap-1">
  <p class="text-sm text-n400 dark:text-n300">© 2026 Mathias-Axel Niato</p>
  <p class="text-xs text-n400 dark:text-n300">Créé avec le template <a href="https://github.com/victor-alvarado/simple-portfolio" target="_blank" rel="noopener noreferrer" class="underline hover:text-primary-light">Simple Portfolio</a></p>
</footer>